<template name="group">
	<ol class="breadcrumb">
		<li><a href="{{ pathFor 'community' slug=community.slug }}">{{ community.name }}</a></li>
		<li class="active">{{ group.name }}</li>
	</ol>
	<h3 class="text-center">{{ group.name }}</h3>
	<br>
	{{# each events }}
		{{> groupEvent }}
	{{/ each }}
	{{# if userIsSubscribed }}
		<hr>
		<p><b>You are subscribed to this group</b></p>
		<p><button class="btn btn-danger btn-block unsubscribe-btn">Unsubscribe</button></p>
	{{/ if }}
	{{# if group.isPublic }}
		{{# unless userIsSubscribed }}
			<hr>
			<p><b>You can subscribe to this group</b></p>
			<p><button class="btn btn-primary btn-block subscribe-btn">Subscribe</button></p>
		{{/ unless }}
	{{/ if }}
</template>

<template name="groupEvent">
	<p>
		<a href="{{ pathFor 'event' communitySlug=communitySlug groupSlug=groupSlug }}">
			{{ name }}
		</a>
	</p>
</template>